* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e3cfcf;
}

header {
    background-color: #b47580;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #debfbf;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-text1 {
    font-size: 60px;
    color: #ffffff;
    margin-right: 10px;
}

.logo-text2 {
    margin-top: 15px;
    font-size: 30px;
    color: #ffffff;
}

.leaf-img {
    height: 50px;
    width: auto;
    margin-left: 5px;
}

.icons {
    display: flex;
    background-color: #b47580;
    margin-right: 40px;
    height: 30px;
    width: 150px;
    align-items: center;
    justify-content: space-between;
}

.shopping-cart {
    display: flex;
    background-color: transparent;
    border: none;
    text-decoration: none;
}

    .shopping-cart img {
        height: 30px;
        width: 30px;
    }


.badge {
    height: 18px;
    width: 18px;
    background-color: none;
    color: #ffffff;
    font-size: 16px;
}

.loginlogout {
    background-color: #ffffff;
    color: #8e5a5a;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}


    .loginlogout:hover {
        background-color: #ffe4e1;
        color: #6d071a;
    }


.navbar {
    height: 40px;
    background-color: #ffe4e1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #debfbf;
}

    .navbar li {
        list-style: none;
        margin-right: 50px;
    }

        .navbar li a {
            text-decoration: none;
            color: #8e5a5a;
            transition: color 0.3s;
        }

            .navbar li a:hover {
                color: #b47580;
            }

.pictures {
    display: flex;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #c37f7f;
}

.Button_ShopNow {
    background-color: #b47580;
    color: #f6f6f6;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 10px;
    text-decoration:none;
}

    .Button_ShopNow:hover {
        background-color: #ffe4e1;
        border: 1px solid #dcdcdc;
        color: #6d071a;
    }

.page-content-right{
    display:flex;
    align-items:center;

}

.page-content-img {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 20px;
    width: 50%;
}

.page-content-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    line-height: 24px;
    text-align: center;
}

.page-content-details span{
    color:#b47580;
}

.page-content-left {
    display: flex;
    align-items: center;
}

.page-content-img-left {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-top: 20px;
    width: 50%;
}

.AboutUs {
    margin-top:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b47580;
    padding-bottom:20px;
}

.heading-aboutus {
    color: white;
}

.AboutUsParagraph {
    background-color: #ffffff;
    color: black;
    text-align: center;
    width: 90%;
    border-radius: 20px;
    padding: 10px;
    line-height: 24px;
}

.AboutUsParagraph span {
    color: #b47580;
}

.ContactUs{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:20px 0px;
    
}

.ContactUs-head-section h1 {
    text-align: center;
    color: #b47580;
}

.ContactUs-head-section p {
    color: #b47580;
}

.ContactUs-body-section{
    display:flex;
    margin-top:20px;
}

.ContactUs-body-section p{
    word-wrap:break-word;
    margin:10px 0px;
    
}

.ContactUs-body-section-items {
    display:flex;
    flex-direction:column;
    width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    padding:10px;
    margin-right:10px;
}

.footer-body-button {
    background-color: #b47580;
    color: #f6f6f6;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top:auto;
}

    .footer-body-button:hover {
        background-color: #ffe4e1;
        color: #6d071a;
    }

footer {
    height: 40px;
    width: 100%;
    background-color: #b47580;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-items {
    display: flex;
    color: #ffffff;
}

    .footer-items img {
        height: 15px;
        width: 15px;
        margin-right: 5px;
        margin-top: 1px;
    }